#Mypage_Password{
    height: 60%;
    margin: 3% 5%;
    padding: 0 3%;
    border: solid 5px #3f3f3f;
    border-radius: 50px 50px;
    background-color: #E0CAD5;
    display: none;
}

#Password_Before{
    margin: 1% 0;
    text-align: center;
}

#Password_Before_text{
    width: 40%;
}

#Password_Before_Error_Message{
    text-align: center;
    width: 100%;
    height: 2rem;
}

#Password_Before_Error_Message_text{
    color: red;
}

#Password_After{
    margin: 1% 0;
    text-align: center;
}

#Password_After_text{
    width: 40%;
}

#Password_After_Error_Message{
    text-align: center;
    width: 100%;
    height: 2rem;
}

#Password_After_Error_Message_text{
    color: red;
}

#Password_Verification{
    margin: 1% 0;
    text-align: center;
}

#Password_Verification_text{
    width: 40%;
}

#Mypage_Password_Button_Flex{
    display: flex;
    width: 80%;
    margin: 1% auto;
    align-items: center;
}

#Mypage_Password_Retrun_Button_div{
    width: 50%;
    text-align: center;
}

#Mypage_Password_Retrun_Button{
    cursor: pointer;
    width: 5rem;
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
}

#Mypage_Password_Button_div{
    width: 50%;
    text-align: center;
}

#Mypage_Password_Button{
    cursor: pointer;
    width: 5rem;
    color: #fff;
    background-color: #eb6100;
    border-radius: 100vh;
}

#Mypage_Password_Button:hover{
    color: #fff;
    background: red;
}